html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}body{max-width:100%;margin-left:auto;margin-right:auto;background-color:#ff0;font-family:"Open Sans",Helvetica,Arial,sans-serif;font-size:.75em;color:#484848;font-smooth:always;-webkit-font-smoothing:antialiased;text-rendering:optimizelegibility;background-color:#f1f1f1;margin-top:0;min-width:320px}body:after{content:" ";display:block;clear:both}hr{border:0;border-bottom:1px dotted #ccc;margin:15px 0}wrapper{display:block;position:relative;width:100%}wrapper.content{background-color:#f1f1f1}::selection{background:#fd8204;color:#fff}content{display:block;position:relative;max-width:1220px;margin-left:auto;margin-right:auto}content:after{content:" ";display:block;clear:both}@media (max-width: 1280px){content{max-width:83.334em;margin-left:auto;margin-right:auto}content:after{content:" ";display:block;clear:both}}h1#h1{text-align:left;font-size:2em;display:block;margin:0;padding:0;margin-top:0;font-weight:100;color:#f39;font-family:"Open Sans",Helvetica,Arial,sans-serif;margin-bottom:19px;margin-top:6px}@media (max-width: 1024px){wrapper{border-left:0 solid #f1f1f1;border-right:0 solid #f1f1f1}wrapper.sidebar{border-left:0 solid #f1f1f1;border-right:0 solid #f1f1f1}}.box-shadow-1{box-shadow:0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);border-radius:0!important}.box-shadow-top{box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.01)}.img-res img{width:100%}input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}button,input{outline:none}h2{font-size:1.3em}h2 a,h3 a{font-family:"Open Sans",Helvetica,Arial,sans-serif}h2,h3{font-family:"Open Sans",Helvetica,Arial,sans-serif}a{font-size:.75em;color:#484848;text-decoration:none;cursor:pointer}a:hover{color:#f39!important}.center{text-align:center}.right{text-align:right}.barorange{width:100%;height:4.1em;background-color:#fd8204;margin:1em 0}a.underline:hover{text-decoration:underline}.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.font-header{font-family:"Open Sans",Helvetica,Arial,sans-serif}.font-header.h1{font-size:1.25em}.font-header.h2{font-size:1.1em}.in{background-color:#fff;border-radius:5px 5px 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px 5px 5px 5px;border:1px solid #d5d5d5}button{border:0;background:none;padding:0}#bread{max-width:100%;padding:0;margin:10px 0 0;margin-bottom:30px}#bread:after{content:" ";display:block;clear:both}#bread > li{list-style:none;display:inline;float:left;padding-right:5px;color:#ccc;font-size:11px}#bread > li > a{font-size:11px;color:#fd8204}#bg-black{display:none;position:absolute;background-color:rgba(250,250,250,0.9);width:100%;height:200%;left:0;top:0;z-index:5000;top:-100%}.dh-box{position:relative;overflow:hidden;padding-top:5px;padding-bottom:5px;padding-bottom:0}.dh-box .left{background-image:url(https://wallsheaven.global.ssl.fastly.net/static/img/navi/navi-id.svg);position:absolute;left:10px;top:37px;z-index:6000;width:37px;background-position:-37px 0;height:62px;cursor:pointer;display:none}.dh-box .right{background-image:url(https://wallsheaven.global.ssl.fastly.net/static/img/navi/navi-id.svg);position:absolute;right:10px;top:37px;z-index:6000;width:37px;background-position:0 0;height:62px;cursor:pointer;display:block}.dh-box > box{display:block;width:100%;overflow:hidden;text-align:center;height:143px}.dh-box > box > .dh-box2{width:100%;overflow-y:hidden;overflow-x:scroll;padding-bottom:20px;text-align:center;height:143px;white-space:nowrap;display:inline-block}.dh-box > box > .dh-box2 > a:hover .favorite{top:10px}.dh-box > box > .dh-box2 > a{display:inline-block;overflow:hidden;position:relative}.dh-box > box > .dh-box2 > a .favorite{position:absolute;top:-40px;border-radius:50%;width:30px;height:30px;padding:5px;color:#fff;background-color:rgba(51,51,51,0.5);-webkit-transition:top .1s;transition:top .1s;overflow:hidden}.dh-box > box > .dh-box2 > a .favorite > cnt{display:block;font-size:1.5em;-webkit-transition:margin-top .2s;transition:margin-top .2s;text-align:center;margin-top:-32px;height:40px}.dh-box > box > .dh-box2 > a .favorite > span{font-size:1.5em;display:block;height:40px;text-align:center}.dh-box > box > .dh-box2 > a .favorite:hover{background-color:rgba(51,51,51,0.8)}.dh-box > box > .dh-box2 > a .favorite:hover > cnt{margin-top:5px}.dh-box > box > .dh-box2 > a .favorite{right:16px}.dh-box > box > .dh-box2 > a .favorite.active{top:15px;background-color:rgba(255,51,153,0.8)}#pg-lastsee{background-color:#fff;border-top:0 dotted #ccc;margin-top:65px}#pg-lastsee boxes{position:relative;padding:10px}#pg-lastsee h4{font-family:"Open Sans",Helvetica,Arial,sans-serif;font-size:1.2em;font-weight:400;margin-top:0;padding-bottom:5px;margin-bottom:10px}#notifications{position:relative}#boxnotification{position:absolute;width:250px;font-size:14px;padding:13px;box-shadow:1px 1px 8px red;top:30px;right:0;background-color:#fff;z-index:2000}#boxnotification .notification{position:relative}#boxnotification .notification .cancel{position:absolute;top:-7px;line-height:10px;right:-5px;font-size:18px;cursor:pointer}#boxnotification .notification .in{width:90%;text-align:center}.chevron{position:relative;display:block;height:14px}.chevron:before,.chevron:after{position:absolute;display:block;content:"";border:7px solid transparent}.chevron:before{top:0;border-top-color:#333}.chevron:after{top:-10px;border-top-color:transparent}.align-left{text-align:left}.align-center{text-align:center}.align-right{text-align:right}.row.rerow .col{float:right!important}.row .col{float:left}.row:after{content:" ";display:block;clear:both}.materialsbox .row .col{width:50%}.materialsbox .row .col img{}.materialsbox .row .col-1 a{display:block;padding-right:21px}footer language .flag{background-image:url(https://wallsheaven.global.ssl.fastly.net/static/img/web/flags.png)}.saphire-button{background-color:#00adef;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #00adef;display:inline-block;cursor:pointer;color:#f8f8f8;font-family:arial;font-size:18px;padding:7px 10%;text-decoration:none}.saphire-button:active{position:relative;top:1px}.orange-button{background-color:#fd8204;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:1px solid #fd8204;display:inline-block;cursor:pointer;color:#f8f8f8;font-size:18px;padding:7px 10%;text-decoration:none}.orange-button:hover{background-color:#fd9936;color:#f8f8f8!important}.orange-button:active{position:relative;top:1px}.green2-button{color:#fff;border:1px solid #55a32a;background:#55a32a;margin-top:5px;margin-bottom:0;line-height:20px;text-align:center;vertical-align:middle;padding:4px 18px;font-size:13px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;cursor:pointer;overflow:visible;font-weight:700}.green-button{cursor:pointer;background-color:#3aa832;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:1px solid #3aa832;display:inline-block;color:#fff;font-weight:400;font-size:18px;padding:7px 10%;text-decoration:none}.green-button:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#72b352),color-stop(1,#3aa832));background:-moz-linear-gradient(top,#72b352 5%,#3aa832 100%);background:-webkit-linear-gradient(top,#72b352 5%,#3aa832 100%);background:-o-linear-gradient(top,#72b352 5%,#3aa832 100%);background:-ms-linear-gradient(top,#72b352 5%,#3aa832 100%);background:linear-gradient(to bottom,#72b352 5%,#3aa832 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352',endColorstr='#3aa832',GradientType=0);background-color:#72b352}.green-button:active{position:relative;top:1px}.grey-button{font-family:"Open Sans",Helvetica,Arial,sans-serif!important;font-size:14px;font-weight:400;padding:6px 8px;background-color:#cdcdce;color:#fff;cursor:pointer;margin-left:5px}.grey-button:hover{text-decoration:none;color:#fff}.grey-button:active{position:relative;top:1px}.leak-orange-button{cursor:pointer;background-color:transparent;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;color:#3aa832;border:1px solid #fff;display:inline-block;font-weight:400;font-size:18px;padding:7px 10%;text-decoration:none}.leak-orange-button:hover{color:#333!important;border:1px solid #ccc;background-color:#ccc}.leak-button:active{position:relative;top:1px}#boss{background-color:#fff;height:54px}#boss #logo{width:233px;height:34px}#boss > content{padding-top:10px;padding-bottom:10px;height:34px;max-width:1220px!important}#boss > content > .col-m1{width:233px}#boss > content > .col-m1 h1,#boss > content > .col-m1 h2{margin:0;padding:0}#boss > content > .col-m2{width:calc(100% - 433px)}#boss > content > .col-m3{width:200px}#boss > content > .col-m3 > .col{width:55px;height:34px;margin-left:10px;line-height:34px;font-size:21px;position:relative}#boss > content > .col-m3 > .col > a{line-height:34px;font-size:21px}#boss > content > .col-m3 > .col:last-child{margin-left:0}#boss #search > form{padding:0;height:32px;border:1px solid #ccc;border-radius:5px 5px 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px 5px 5px 5px;max-width:80%;margin-left:auto;margin-right:auto}#boss #search > form:after{content:" ";display:block;clear:both}#boss #search > form button{background-color:#fd8204;color:#fff;font-size:1.6em;text-align:center;float:right;line-height:32px;text-align:center;width:34px;font-size:14px;border-radius:0 5px 5px 0;border:1px solid #fd8204;top:-1px;right:-1px;position:relative;width:94px}#boss #search > form button > span{font-weight:bolder;padding-left:3px;}#boss #search > form button > b{font-weight:400}#boss #search > form input{line-height:32px;width:calc(100% - 104px);font-size:1.2em;border:0;padding:0;float:left;font-family:"Open Sans",Helvetica,Arial,sans-serif;background:transparent;padding-left:10px}#boss #cart{padding-top:2px;font-size:28px;position:relative;display:block}#boss #cart #befcartcount{position:absolute;width:19px;height:19px;top:-4px;right:15px;background-color:#fd8204;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;text-align:center}#boss #cart #befcartcount > span{display:block;margin:0;font-size:12px;line-height:19px;color:#fff;padding:0;font-weight:400}#boss #notifications{cursor:pointer;position:relative}#boss #notifications > img{padding-top:6px}#boss #notifications #notibox{position:absolute;width:19px;height:19px;top:-7px;right:-15px;background-color:red;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;text-align:center}#boss #notifications #notibox > span{display:block;margin:0;font-size:11px;line-height:18px;color:#fff;padding:0;padding-left:1px;font-weight:400}#manager{background-color:#3c3c3b;height:34px}#manager > content{height:26px;padding-top:4px;padding-bottom:4px;max-width:1000px!important}#manager > content > .col.active{border-bottom:2px solid #fd9936}#manager > content > .col{position:relative;line-height:26px;color:#fff;text-align:center}#manager > content > .col > span{cursor:pointer;font-size:14px}#manager > content > .col > span > b{font-weight:400}#manager > content > .col > span > span{vertical-align:middle;padding-right:5px}#manager > content > .col > .manager-hidden-box{z-index:6000;width:614px;padding:0;position:absolute;background-color:#3c3c3b;top:29px;z-index:5000;display:none}#manager > content > .col > .manager-hidden-box > .col{font-weight:400;padding:0;margin:0}#manager > content > .col > .manager-hidden-box > .col > a{position:relative;display:block;padding:4px;line-height:0}#manager > content > .col > .manager-hidden-box > .col > a > span{position:relative;z-index:5001;display:block;bottom:0;line-height:15px;font-size:14px;padding:10px;text-shadow:1px 1px 1px #000;width:calc(100% - 20px);left:0;color:#fff;background-color:#fd9936;text-align:center;background-color:rgba(0,0,0,0.5)}#manager > content > .col > .manager-hidden-box > .col-1{width:50%}#manager > content > .col > .manager-hidden-box > .col-1 > a{padding-right:2px}#manager > content > .col > .manager-hidden-box > .col-2{width:50%}#manager > content > .col > .manager-hidden-box > .col-2 > a{padding-left:2px}#manager > content > .col > .manager-hidden-box > .col-3{width:50%}#manager > content > .col > .manager-hidden-box > .col-3 > a{padding-right:2px}#manager > content > .col > .manager-hidden-box > .col-4{width:50%}#manager > content > .col > .manager-hidden-box > .col-4 > a{padding-left:2px}#manager > content .col-2 > .manager-hidden-box{width:500px}#manager > content > .col-1{width:33.33%}#manager > content > .col-2{width:33.33%}#manager > content > .col-3{width:33.33%}#manager > content > .col-4{width:25%}#manager > content > .col-3 > .manager-hidden-box{right:0}#dit{background-color:#fff}#dit > content{max-width:1152px}#dit > content > div{height:31px;line-height:31px;font-size:1.1em;margin:0}#dit > content > div > ul{margin:0;padding:0;list-style:none;display:block}#dit > content > div > ul > li{width:33%;display:inline-block;padding:0}payments:after{content:" ";display:block;clear:both}payments{display:block;margin:0;padding:0;border:0}payments h3{margin-top:0;margin-bottom:10px;font-size:1.23em;text-transform:uppercase;color:#fff;font-weight:400}payments h3:after{content:" ";display:block;clear:both}payments [class^="payment-"],payments [class*=" payment-"]{background-image:url(https://wallsheaven.global.ssl.fastly.net/static/img/web/payments_logos_011.png);background-repeat:no-repeat;float:left;margin-right:3px}payments .payment-paypal{background-position:0 0;width:76px;height:24px}payments .payment-visa{background-position:-82px 0;width:62px;height:24px}payments .payment-maestrocard{background-position:-163px 0;width:35px;height:24px}payments .payment-mastercard{background-position:-182px 0;width:35px;height:24px}payments .payment-giropay{background-position:-244px 0;width:53px;height:24px}payments .payment-unionpay{background-position:-273px 0;width:37px;height:24px}payments .payment-solo{background-position:-347px 0;width:17px;height:24px}payments .payment-amex{background-position:-337px 0;width:25px;height:24px}payments .payment-cb{background-position:-403px 0;width:30px;height:24px}payments .payment-ec{background-position:-441px 0;width:20px;height:24px}payments .payment-discoverycard{background-position:-424px 0;width:38px;height:24px}payments .payment-elo{background-position:-505px 0;width:22px;height:24px}payments .payment-hipercard{background-position:-533px 0;width:57px;height:24px}payments .payment-bradesco{background-position:-594px 0;width:27px;height:24px}payments .payment-citibank{background-position:-630px 0;width:82px;height:24px}payments .payment-deutschebank{background-position:-723px 0;width:114px;height:24px}payments .payment-aurore{background-position:-845px 0;width:62px;height:24px}payments .payment-cofinoga{background-position:-1199px 0;width:68px;height:24px}payments .payment-4stars{background-position:-1278px 0;width:54px;height:24px}payments .payment-boleto{background-position:-1341px 0;width:67px;height:24px}payments .payment-bancodobrasil{background-position:-1419px 0;width:53px;height:24px}payments .payment-dinnerclub{background-position:-1128px 0;width:84px;height:24px}payments .payment-postepay{background-position:-1220px 0;width:75px;height:24px}wrapper#search-bar{background-color:#f1f1f1;color:#333;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc}wrapper#search-bar search{padding:2em;display:block;position:relative;margin-top:.6em}wrapper#search-bar search form#moreseach{padding:.7em .3em;border:1px solid #ccc;max-width:80%;margin-left:auto;margin-right:auto}wrapper#search-bar search form#moreseach:after{content:" ";display:block;clear:both}wrapper#search-bar search form#moreseach > button{width:1.5em;padding-left:.05em;color:#fd8204;font-size:1.3em;text-align:left;float:right}wrapper#search-bar search form#moreseach > input[type="text"]{width:calc(100% - 2em);font-size:1.3em;border:0;padding:0;float:right}wrapper#search-bar search #search-contact{cursor:pointer;margin:1.8em 0 0;text-align:center;padding:0}wrapper#search-bar search #search-contact > span{display:block;color:#349942;font-size:1.3em;font-weight:400}wrapper#search-bar search #search-contact > span a{font-size:1.1em}wrapper#search-bar search #search-contact-box{display:none;font-size:1.3em;max-width:80%;margin:1.3em auto 0}wrapper#search-bar search #search-contact-box:after{content:" ";display:block;clear:both}wrapper#search-bar search #search-contact-box .fo-contact{width:49.83278%;float:left;margin-right:.33445%}wrapper#search-bar search #search-contact-box .fo-contact:last-child{width:49.83278%;float:right;margin-right:0}wrapper#search-bar search #search-contact-box .fo-contact:last-child input{width:calc(100% - 15px);line-height:30px;padding-left:15px;margin-bottom:5px}wrapper#search-bar search #search-contact-box .fo-contact:first-child textarea{width:calc(99% - 30px);height:84px;padding:15px}wrapper#search-bar search #search-message{text-align:center;font-size:1.3em;color:#38a635;padding:23px 0 15px;display:none}wrapper.footer{background-color:#333;border-top:0 dotted #e4e4e4;padding-bottom:1em}footer{max-width:100%;margin:0 auto;padding-top:2em}footer:after{content:" ";display:block;clear:both}footer item{width:18.83768%;float:left;margin-right:.2004%;list-style:none;padding:0;vertical-align:middle;display:block;min-width:11em;height:17em}footer item:last-child{width:23.8477%;float:right;margin-right:0}footer h3{font-size:1.23em;font-weight:400;margin-top:0;margin-bottom:.55em;color:#fff;font-family:"Open Sans",Helvetica,Arial,sans-serif;text-transform:uppercase}footer ul{margin:0;padding:0}footer ul li{list-style:none;padding:0;margin:0}footer ul li a{color:#fff;line-height:1.7em;font-size:1.12em}footer #newsletter{padding-bottom:10px}footer #newsletter #in-newsletter{width:calc(100% - 80px);font-size:1.1em}footer #newsletter input{padding:.5em 1em}footer #newsletter input[type="submit"]{color:#fff;cursor:pointer;background-color:#fd8204}footer ul#social{padding-bottom:10px}footer ul#social li{display:block;float:left;width:37px;height:25px;padding:0;margin:0;margin-left:0}footer ul#social li a{display:inline-block;width:30px;height:25px;color:#fff;font-size:1.8em}footer ul#social li a:hover{color:#fd8204;text-decoration:none}footer #social:after{content:" ";display:block;clear:both}footer language{display:block;margin:0;padding:0;width:100%;position:relative}footer language lang{display:block}footer language lang active span{padding:0 .5em}footer language lang active{display:block;border:1px solid #dadada;border-radius:5px 5px 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px 5px 5px 5px;background-color:#fff;width:5.7em;padding:.5em;z-index:1000;position:relative}footer language lang active img{position:absolute;right:2.5em;top:.8em;width:1.34em}footer language lang active i{display:block;position:absolute;bottom:.6em;right:1em}footer language lang ul{border-radius:5px 5px 0 5px;-moz-border-radius:5px 5px 0;-webkit-border-radius:5px 5px 0 5px;border:1px solid #ccc;display:none;background-color:#fff;position:absolute;bottom:0;padding:0;left:-147px;width:201px;margin:0;margin-bottom:2.4em;min-width:calc(100%-2px);z-index:500;padding-right:1.1em;padding-left:1.1em}footer language lang ul li{width:4.5em;display:block;float:left;margin:0;padding:.5em}footer language lang ul li span{padding:0 .5em}footer language lang ul li a{position:relative;color:#333}footer language lang ul li a .flag{position:absolute;left:30px;top:3px;background-repeat:no-repeat;width:16px;height:11px}footer language lang ul li:hover{background-color:#eee}footer language lang ul:after{content:" ";display:block;clear:both}footer language lang:hover ul{display:block;transition:1s}footer language lang:hover active{border-top:0;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px}footer language lang:hover active i{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}#promobox{float:left;width:350px;text-align:left}#textsbox .footermenu{float:left;width:210px;padding-bottom:25px}copyright{margin-bottom:2em;display:block;margin-top:5px;font-size:11px;color:#fff}copyright a{font-size:11px;color:#fff}@media (max-width: 767px){#boss > content > .col-m2{width:calc(100% - 403px)}#boss > content > .col-m3{width:170px}#boss > content > .col-m3 > .col{margin-left:0}#boss #search > form{max-width:94%;margin-right:0}#boss #search > form button{width:34px}#boss #search > form button > span{padding-left:0}#boss #search > form button > b{display:none!important}#boss #search > form input{width:calc(100% - 44px)}#manager > content > .col-2 > .manager-hidden-box{left:calc(100% - 375px)}}@media (max-width: 639px){#boss{height:110px}#boss > content > .col-m1{width:100%;text-align:center;margin-bottom:13px}#boss > content > .col-m1:after{content:" ";display:block;clear:both}#boss > content > .col-m2{width:calc(100% - 200px)}#boss > content > .col-m3{width:200px}#boss #search > form{max-width:96%;margin-right:0}#manager{height:64px}#manager > content > .col > .manager-hidden-box{width:320px}#manager > content > .col > .manager-hidden-box > .col-1{width:100%}#manager > content > .col > .manager-hidden-box > .col-1 > a{padding-right:4px}#manager > content > .col > .manager-hidden-box > .col-2{width:100%}#manager > content > .col > .manager-hidden-box > .col-2 > a{padding-left:4px}#manager > content > .col > .manager-hidden-box > .col-3{width:100%}#manager > content > .col > .manager-hidden-box > .col-3 > a{padding-right:4px}#manager > content > .col > .manager-hidden-box > .col-4{width:100%}#manager > content > .col > .manager-hidden-box > .col-4 > a{padding-left:4px}#manager > content > .col-1{width:50%}#manager > content > .col-2{width:50%}#manager > content > .col-2 > .manager-hidden-box{left:calc(100% - 320px)}#manager > content > .col-3{width:100%}#manager > content > .col-4{width:50%}}@media (max-width: 480px){.materialsbox .row .col{width:100%!important}#boss > content > .col-m2{width:calc(100% - 160px)}#boss > content > .col-m3{width:160px}#boss > content > .col-m3 > .col{width:51px;height:34px;margin-left:0}#boss #cart #befcartcount{right:13px}#manager > content > .col-2 > .manager-hidden-box{left:calc(100% - 320px)}}@media (min-width: 720px){#mobile-box{display:none}#mobile-body{margin-left:0!important}}@media (max-width: 720px){#mobile-body{margin-left:157px}#main4 li#m4-m1{min-width:40px;max-width:40px;overflow:hidden}#main4 li#m4-m1 #test{width:264px}#main4 li#mobile-menu{display:inline;float:left;width:40px;overflow:hidden;text-align:right}#main4 li#mobile-menu a{padding-top:15px}#main4 li#m4-m2{width:calc(100% - 170px)}#main4 li#m4-m2 div{padding-right:20px;padding-left:20px}}@media (max-width: 1023px){footer ul li a{line-height:2em;font-size:1.14em}ul#main{display:block;position:relative}ul#main li #logo{width:153px;height:21px}ul#main li{white-space:nowrap}ul#main li:first-child::after{width:7.56303%;float:left;margin-right:.84034%;text-align:center;height:2.5em;padding:0;vertical-align:middle;display:block}ul#main li#liketop{display:none}ul#main li#search{margin:0;position:absolute;margin-left:17em;text-align:center;width:calc(100% - 21em)}ul#main li:first-child{min-width:153px;width:24.36975%;float:left;margin-right:.84034%;width:153px}ul#main li:last-child{width:7.56303%;float:right;margin-right:0;margin-right:2px}ul#main li:nth-child(3),ul#main li:nth-child(4),ul#main li:nth-child(6),ul#main li:nth-child(7){display:none}ul#main li#mobile-menu{width:3.36134%;float:left;margin-right:.84034%;width:3em;margin-right:0;display:block}ul#main li#mobile-menu a{font-size:1.7em;line-height:2.26em}ul#main #cart{right:.7em}#mobile-box #lastlike a .icon-heart{padding-right:5px}#mobile-box #interiordesign2 a > span{font-family:'Pacifico',cursive}#sidebar > ul > li{width:31.81818%;float:left;margin-right:2.27273%}#sidebar > ul > li div.item{width:170px;height:200px}wrapper.footer footer item:first-child{display:none}wrapper.footer footer item{width:24.5283%;float:left;margin-right:.62893%}wrapper.footer footer item:last-child{width:24.5283%;float:right;margin-right:0;float:left}}@media (max-width: 950px){#main4 > #m4-m2 img{width:153px;height:21px}}@media (max-width: 700px){#dit{display:none}}@media (max-width: 628px){wrapper.footer h3{text-decoration:underline}wrapper.footer footer item{width:47.36842%;float:left;margin-right:5.26316%;margin-bottom:13px}wrapper.footer footer item:last-child{width:47.36842%;float:right;margin-right:0;float:left}wrapper.footer footer item:nth-child(3),wrapper.footer footer item:nth-child(5){width:47.36842%;float:right;margin-right:0}wrapper.footer footer item:nth-child(3):after{content:" ";display:block;clear:both}}@media (max-width: 380px){wrapper.footer footer item{width:100%;float:left;margin-left:0;margin-right:0;margin-bottom:13px}wrapper.footer footer item:last-child{width:100%;float:right;margin-right:0;float:left}wrapper.footer footer item:nth-child(3),wrapper.footer footer item:nth-child(5){width:100%;float:right;margin-right:0}#boxnotification{right:-100px}}@media (max-width: 460px){payments{margin-top:13px}#search-contact-box .fo-contact{width:100%!important}#search-contact-box .fo-contact:last-child{width:100%!important}#search-contact-box .fo-contact:first-child .button-orange{width:100%!important}}@media (max-width: 500px){ul#main li #logo{width:221px;height:33px}ul#main li:first-child{min-width:33px;width:29px}ul#main li#search{margin-left:7em;width:calc(100% - 11em)}ul#main #cart a #befcartcount{right:0}}@media (max-width: 350px){ul#main #cart a #befcartcount{right:-.1em}}#mobile-box{width:140px;height:100%;position:fixed;top:0;left:-160px;background:#fff;margin-right:10px;border-right:1px dotted #e4e4e4;color:#3c3c3b;padding:5px;z-index:9999}#mobile-box ul{padding:0;margin:0}#mobile-box ul #lastlike a.active{color:#f39!important}#mobile-box ul li{border-bottom:1px solid #e4e4e4;list-style:none;padding:0;margin:0}#mobile-box ul li a{line-height:2em;font-size:1.1em}#mobile-box.action{left:0}#mobile-body{margin-left:157px;position:relative;overflow:hidden}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#frame.active {
  border: 10px solid #38a635;
}

#frame {
  border-radius: 5px;
  border: 0px solid #fafafa;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#frame #slider-1 {
  margin-top: 10px;
  display: none;
  width: 80%;
  min-width: 250px;
  max-width: 400px;
}
#viznew #insidephotos {
  border: 4px solid #fff;
  padding: 0px 10px;
}
#viznew #insidephotos.active {
  border: 4px solid #38a635;
  border-radius: 5px;
}
#crop {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#crop #cropped {
  display: none;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0px;
  left: 0px;
  z-index: 4000;
  -webkit-box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.8);
  cursor: move;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
  white-space: nowrap;
}
#crop #cropped > #croppedbox.active {
  box-shadow: inset 0 0 0 10px #38a635;
}
#crop #cropped > #croppedbox {
  position: relative;
  width: 100%;
  height: 100%;
}
#crop #cropped > #croppedbox > .crop-line {
  position: absolute;
  opacity: 0.4;
  z-index: 4001;
  background: #fff url("https://wallsheaven.global.ssl.fastly.net/static/plugins/jcrop/css/Jcrop.gif");
}
#crop #cropped > #croppedbox > .crop-line.top, #crop #cropped > #croppedbox > .crop-line.bottom {
  height: 1px;
  width: 100%;
  left: 0px;
}
#crop #cropped > #croppedbox > .crop-line.top {
  top: 0px;
}
#crop #cropped > #croppedbox > .crop-line.bottom {
  bottom: 0px;
}
#crop #cropped > #croppedbox > .crop-line.left, #crop #cropped > #croppedbox .crop-line.right {
  height: 100%;
  width: 1px;
  top: 0px;
}
#crop #cropped > #croppedbox > .crop-line.left {
  left: 0px;
}
#crop #cropped > #croppedbox > .crop-line.right {
  right: 0px;
}
#crop #coppedlayer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3999;
}
#viznew > div {
  min-height: 220px;
  margin: 0 auto;
  text-align: center;
}
#viznew > div > photo {
  display: block;
}
#viznew > div > photo:nth-child(1), #viznew > div > photo:nth-child(3) {
  display: none;
}
#vizualization {
  width: 401px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
#vizualization #vizualization-box {
  display: block;
  width: 401px;
  text-align: left;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
#vizualization .vizualization {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 400px;
  vertical-align: top;
}
#vizualization-min {
  margin-top: 21px;
}
#vizualization-min .vizualization-min-box {
  display: inline-block;
  border: 1px solid #999;
  margin: 0px 5px;
  padding: 5px 5px 2px 5px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
#vizualization-min .vizualization-min-box.active {
  border: 2px solid #fd8204;
}
#frame #maxsize {
  text-align: center;
  display: block;
  padding-left: 15px;
  padding-top: 5px;
}
#frame #product-center, #frame #frame .vizualization2 {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

#pg-product h1 {
  font-size: 2em;
  font-weight: body;
  margin-bottom: 9px;
  margin-top: 13px;
  font-weight: normal;
}
#pg-product h1 > span {
  font-weight: lighter;
}
#pg-product .sepia {
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
}
#pg-product .grayscale {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}
#pg-product .horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#pg-product .vertical {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipW;
  -ms-filter: "FlipW";
}
#pg-product .horizontalvertical {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  filter: FlipH, FlipW;
  -ms-filter: "FlipH, FlipW";
}
#pg-product > product {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#pg-product > product:after {
  content: " ";
  display: block;
  clear: both;
}
#pg-product > product > sidebar {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#pg-product > product > sidebar:after {
  content: " ";
  display: block;
  clear: both;
}
#pg-product > product > sidebar > box {
  display: block;
  margin: 0;
  padding: 0;
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  position: relative;
}
#pg-product > product > sidebar > box > hr {
  display: block;
  position: absolute;
  border: 0;
  background-color: #fff;
  bottom: -1px;
  width: 100%;
  margin: 0;
  height: 1px;
}
#pg-product > product > sidebar > box > a {
  text-align: center;
  background-color: transparent;
  font-size: 1.3em;
  padding: 10px 0;
  display: block;
}
#pg-product > product > sidebar > box:last-child {
  width: 21.05263%;
  float: right;
  margin-right: 0;
}
#pg-product > product > sidebar > box.active a {
  background-color: #FFFFFF;
  border-radius: 5px 5px 0 0;
  /*
  border-top: 1px dotted #ccc;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  */
}
#pg-product > product > boxes:after {
  content: " ";
  display: block;
  clear: both;
}
#pg-product > product > boxes {
  display: block;
  border-radius: 0 5px 5px 5px;
  background-color: #fff;
}
#pg-product > product > boxes box {
  display: block;
}
#pg-product > product > boxes > div {
  font-size: 1.1em;
  padding: 10px;
}
#pg-product > product > boxes > div h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.03em;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
#pg-product > product > boxes > div #si-content {
  overflow: hidden;
  width: 100%;
  height: 160px;
}
#pg-product > product > boxes > box:first-child {
  width: 27.85571%;
  float: left;
  margin-right: 0.2004%;
  min-width: 272px;
}
#pg-product > product > boxes > box:first-child > div {
  font-size: 1.1em;
  padding: 10px;
  padding-top: 29px;
}
#pg-product > product > boxes > box:first-child > div #sizes {
  margin-bottom: 10px;
  font-size: 0.9em;
}
#pg-product > product > boxes > box:first-child > div #sizes #sizes-type {
  color: #38a635;
  display: inline;
  border: 0px;
  border-radius: 5px;
}
#pg-product > product > boxes > box:first-child > div #dimensions h4 {
  position: relative;
}
#pg-product > product > boxes > box:first-child > div #dimensions h4 #sizes {
  position: absolute;
  right: 0px;
  font-size: 0.88em;
  top: 2px;
  width: 56%;
  text-align: right;
}
#pg-product > product > boxes > box:first-child > div #dimensions > sel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#pg-product > product > boxes > box:first-child > div #dimensions > sel:after {
  content: " ";
  display: block;
  clear: both;
}
#pg-product > product > boxes > box:first-child > div #dimensions > sel > span:first-child {
  width: 24.24242%;
  float: left;
  margin-right: 1.0101%;
  padding-top: 3px;
}
#pg-product > product > boxes > box:first-child > div #dimensions > sel > span:last-child {
  width: 74.74747%;
  float: right;
  margin-right: 0;
}
#pg-product > product > boxes > box:first-child > div #dimensions > sel #x, #pg-product > product > boxes > box:first-child > div #dimensions > sel #y {
  padding: 2px 10px;
  height: 20px;
  margin-right: 5px;
  padding-right: 0;
  width: 55px;
  color: #38a635;
  border-radius: 5px;
}
#pg-product > product > boxes > box:first-child > div #dimensions > sel #x.active, #pg-product > product > boxes > box:first-child > div #dimensions > sel #y.active {
  border: 2px solid #38a635;
}
#pg-product > product > boxes > box:first-child > div > section {
  border-radius: 5px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ededed;
  background-color: #fafafa;
  padding: 10px;
}
#pg-product > product > boxes > box:first-child > div > section > sel {
  display: block;
  margin-bottom: 0px;
  padding: 5px 0;
}
#pg-product > product > boxes > box:first-child > div > section > sel > label {
  padding-left: 5px;
}
#pg-product > product > boxes > box:first-child > div > section > h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.03em;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
#pg-product > product > boxes > box:first-child > div > section > h4.toggle {
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}
#pg-product > product > boxes > box:first-child > div > section > h4.toggle > span {
  position: absolute;
  right: 15px;
  top: 5px;
}
#pg-product > product > boxes > box:first-child > div #selectmaterial > sel {
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center;
  cursor: help;
}
#pg-product > product > boxes > box:first-child > div #selectmaterial > sel > label {
  position: relative;
  display: block;
}
#pg-product > product > boxes > box:first-child > div #selectmaterial > sel > label .icon-wh_help {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: 20px;
  font-size: 1.3em;
  color: #38a635;
}
#pg-product > product > boxes > box:first-child > div #selectmaterial > sel.active {
  background-color: #fff;
}
#pg-product > product > boxes > box:nth-child(2) {
  width: 43.88778%;
  float: left;
  margin-right: 0.2004%;
  min-width: 410px;
  text-align: center;
}
#pg-product > product > boxes > box:nth-child(2) > div {
  padding-top: 10px;
}
#pg-product > product > boxes > box:nth-child(2) > div #manual {
  border-radius: 5px;
  display: block;
  width: 100%;
  background-color: #fd8204;
  color: #fff;
  position: relative;
  margin-bottom: 10px;
}
#pg-product > product > boxes > box:nth-child(2) > div #manual > p {
  margin: 0;
  padding: 10px;
  text-align: left;
}
#pg-product > product > boxes > box:nth-child(2) > div #manual > #closecookie {
  position: absolute;
  right: 0px;
  top: -8px;
  padding: 7px;
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
}
#frame > info {
  display: block;
  text-align: left;
  padding: 10px;
  padding-bottom: 0;
}
#frame > info h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 5px;
}
#frame > info > ul {
  margin: 0;
  padding: 0;
}
#frame > info > ul > li {
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
#frame > info > ul > li h1, #frame > info > ul > li h3 {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#frame > info > ul > li h1 a, #frame > info > ul > li h3 a {
  font-size: 13px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
{
  width: 27.85571%;
  float: right;
  margin-right: 0;
  min-width: 235px;
}

#preview {
  margin: 30px 0;
  max-width: 300px;
  padding: 20px;
  position: relative;
  margin-bottom: 0px;
  margin-top: 25px;
}
#preview #preview-w, #preview #preview-h {
  position: absolute;
  margin: 0;
  padding: 2px 0px;
  width: 100px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 1.1em;
  display: none;
}
#preview #preview-w {
  top: -5px;
  left: calc(50% - 50px);
}
#preview #preview-h {
  left: -43px;
  top: calc(50% - 12px);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
#preview #preview-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#preview-img #preview-left {
  position: absolute;
  background-color: #575756;
  top: 49px;
  left: 15px;
  width: 2px;
}
#preview-img #preview-bottom {
  position: absolute;
  background-color: #494949;
  bottom: 2px;
  left: 28px;
  height: 2px;
}
#preview-img .preview-arrows {
  position: absolute;
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/web/dart.svg");
  width: 6px;
  height: 6px;
}
#preview-img #preview-left-up {
  background-position: -18px 0px;
  top: -5px;
  left: -2px;
}
#preview-img #preview-left-down {
  background-position: -12px 0px;
  bottom: -5px;
  left: -2px;
}
#preview-img #preview-bottom-left {
  background-position: -0px 0px;
  bottom: -2px;
  left: -5px;
}
#preview-img #preview-bottom-right {
  background-position: -6px 0px;
  bottom: -2px;
  right: -5px;
}
#preview-img #preview-left-text {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 20px;
  vertical-align: middle;
  font-size: 10px;
}
#preview-img #preview-bottom-text {
  position: absolute;
  bottom: 0px;
  left: 34px;
  width: 20px;
  text-align: center;
  font-size: 10px;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#preview-work {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
}
#preview-raw {
  background-repeat: no-repeat;
  clip: rect(0px, 681px, 75px, 180px);
}

#pg-product {
  padding-top: 10px;
  /* ---- SIMILAR */
}
#pg-product .colorred {
  color: red !important;
}
#pg-product .colorblue {
  color: red !important;
}
#pg-product #likeproduct {
  margin-top: 10px;
  display: block;
  text-align: center;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 42px;
}
#pg-product #likeproduct:hover {
  background-color: #ededed;
}
#pg-product #likeproduct.active {
  background-color: #ff3399;
  color: #fff;
}
#pg-product #card {
  background-color: #fff;
  border: 1px dotted #ccc;
  position: relative;
  float: left;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#pg-product #card:after {
  content: " ";
  display: block;
  clear: both;
}
#pg-product #card #selectdestination {
  padding: 0px;
  margin: 0px;
  background-color: #eaeaea;
  color: #3c3c3c;
  font-weight: 700;
  height: 34px;
  text-align: left;
  width: 100%;
}
#pg-product #card #selectdestination div {
  float: left;
  padding: 5px 5px 0px 5px;
  margin: 0px;
  font-size: 21px;
  text-align: left;
}
#pg-product #card #selectdestination a {
  display: inline-block;
  width: 25px;
  height: 28px;
  padding: 0px;
  margin: 0px;
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/web/icons.svg");
  margin-top: 2px;
  margin-right: 5px;
}
#pg-product #card #selectdestination a:hover {
  text-decoration: none;
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/web/icons1.svg");
}
#pg-product #card #selectdestination a#des-wallmurals {
  background-position: -4px -1px;
  width: 25px;
}
#pg-product #card #selectdestination a#des-canvas {
  background-position: -36px -1px;
}
#pg-product #card #selectdestination a#des-stickers {
  background-position: -95px -1px;
}
#pg-product #card #selectdestination a#des-posters {
  background-position: -67px -1px;
}
#pg-product #card #selectdestination a#des-iphones {
  background-position: -128px -1px;
}
#pg-product #card #selectdestination a.active {
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/web/icons1.svg");
}
#pg-product #card #selectdestination a h3 {
  display: none;
}
#pg-product #card #author {
  font-weight: normal;
}
#pg-product #card #author a {
  color: #fd8204;
}
#pg-product #card #author a:hover {
  color: #ff3399;
}
#pg-product #card #title {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 8px;
}
#pg-product #card #dimensions {
  padding-top: 8px;
}
#pg-product #card #dimensions #sizes-type {
  width: 105px;
}
#pg-product #card #dimensions, #pg-product #card #dimensions select, #pg-product #card #dimensions input {
  font-size: 13px;
  color: #494949;
}
#pg-product #card #dimensions select, #pg-product #card #dimensions input {
  text-align: center;
  width: 75px;
  margin-right: 5px;
  font-weight: 600;
}
#pg-product #card img#preview-raw.sepia {
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
}
#pg-product #card img#preview-raw.grayscale {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
#pg-product #card img#preview-raw.horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#pg-product #card img#preview-raw.vertical {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipW;
  -ms-filter: "FlipW";
}
#pg-product #card img#preview-raw.horizontalvertical {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  filter: FlipH, FlipW;
  -ms-filter: "FlipH, FlipW";
}
#pg-product #card #previewqustion {
  margin: 5px 0px;
}
#pg-product #carddetails {
  width: 100%;
  float: right;
  margin-right: 0;
  margin-left: 5px;
  margin-top: 15px;
  height: 100%;
}
#pg-product #carddetails .afterdisscount {
  color: #38a635;
  font-size: 22px;
  margin-top: 5px;
  padding-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
#pg-product #carddetails .afterdisscount #beforedisscount {
  font-size: 32px;
  text-decoration: line-through;
  color: #333;
  text-align: center;
  margin-bottom: 0px;
}
#pg-product #carddetails .afterdisscount #discountcnt {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #38a635;
}
#pg-product #carddetails .afterdisscount #cardtitle {
  color: #38a635;
  margin-bottom: 8px;
}
#pg-product #carddetails .afterdisscount .summaryleft {
  font-size: 13px;
}
#pg-product #carddetails .afterdisscount #carddetailstop {
  position: absolute;
  top: 0px;
  text-align: right;
  width: 100%;
  height: 20px;
  right: 18px;
}
#pg-product #carddetails .afterdisscount select {
  width: 50%;
  height: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #3b3b3b;
  padding-top: 3px;
  padding-bottom: 3px;
}
#pg-product #carddetails #viza {
  display: block;
}
#pg-product #carddetails #stars {
  display: inline-block;
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/stars2.png");
  background-position: 0px 0px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#pg-product #carddetails #social2 {
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-left: 0px;
}
#pg-product #carddetails #social2 .share {
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/productsocial.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin-right: 0px;
  display: inline-block;
  margin-left: -1px;
  margin-top: 10px;
}
#pg-product #carddetails #social2 .share.share-facebook {
  background-position: 0px 0px;
}
#pg-product #carddetails #social2 .share.share-twitter {
  background-position: -32px 0px;
}
#pg-product #carddetails #social2 .share.share-google {
  background-position: -64px 0px;
}
#pg-product #carddetails #social2 .share.share-pinterest {
  background-position: -96px 0px;
}
#pg-product #carddetails #social2 .share:hover {
  opacity: 0.7;
}
#pg-product #carddetails #conterstars {
  display: inline-block;
  padding-top: 0px;
}
#pg-product #carddetails #stars.active, #pg-product #carddetails #stars:hover {
  background-position: 0px -30px;
}
#pg-product #carddetails .in-design {
  border: 1px solid #a2a2a2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  /* Old browsers */
}
#pg-product #carddetails #showsize {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 19px;
  padding-left: 5px;
  font-size: 15px;
}
#pg-product #tabs .tabs {
  padding: 5px 10px;
}
#pg-product #tabs > ul {
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/web/page_tab_nav_bg.png");
  overflow: hidden;
}
#pg-product #tabs > ul li {
  cursor: pointer;
  display: block;
  float: left;
  border-right: 1px solid #e5e6e9;
  border-bottom: 1px solid #e5e6e9;
  padding: 9px 15px;
  height: 18px;
}
#pg-product #tabs > ul li.active {
  background-color: #fff;
  font-weight: bolder;
  border-bottom: 1px solid #fff;
}
#pg-product #tabs > ul li:hover {
  background-color: #fff;
}
#pg-product #tabs > ul li:hover a {
  color: #444;
  text-decoration: none;
}
#pg-product .myButton2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #666666;
  font-weight: normal;
  padding: 3px 12px;
  text-decoration: none;
  margin-bottom: 5px;
}
#pg-product .myButton2:active {
  position: relative;
  top: 1px;
}
#pg-product #similia {
  width: 1000px;
}
#pg-product #similia h3 {
  color: #3c3c3c;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-left: 0px;
}
#pg-product #similia h3 #si-info {
  color: #666;
}
#pg-product #similia h3 #si-content {
  /*background-color:#575757;*/
  overflow: hidden;
}
#pg-product #similia h3 #si-products {
  width: 1000px;
  margin-top: 5px;
}
#pg-product #similia h3 #si-products .si-products {
  float: left;
  width: 165px;
  height: 165px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #f8f8f8;
  padding-top: 5px;
}
#pg-product #similia h3 #si-products .si-products.si-products-last {
  margin-right: 0px !important;
  width: 165px;
}
#pg-product .producttools {
  background-image: url("https://wallsheaven.global.ssl.fastly.net/static/img/web/product-icons.svg");
  background-repeat: no-repeat;
}
#pg-product #product4 {
  background-position: 0px 0px;
}
#pg-product #product5 {
  background-position: -30px 0px;
}
#pg-product #product6 {
  background-position: -60px 0px;
}

#canvassize3 {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

#canvassize3 li {
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
}
#canvassize3 li input {
  margin-top: 4px;
}

.added {
  min-width: 220px;
}
.added .added-button:after {
  content: " ";
  display: block;
  clear: both;
}
.added .added-button {
  margin-top: 15px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.added .added-button:after {
  content: " ";
  display: block;
  clear: both;
}
.added .added-button > section {
  width: 49.8998%;
  float: left;
  margin-right: 0.2004%;
}
.added .added-button > section > a {
  display: block;
  font-size: 15px;
}
.added .added-button > section > span {
  display: block;
  font-size: 15px;
}
.added .added-button > section:last-child {
  width: 49.8998%;
  float: right;
  margin-right: 0;
}

.fancybox-skin {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.fancybox-close {
  display: none !important;
}

.fancybox-inner {
  overflow-y: hidden;
  overflow-x: hidden;
}

#productinformation {
  margin-top: 10px;
  font-size: 13px;
}
#productinformation h3, #productinformation a {
  font-size: 13px;
}
#productinformation li {
  line-height: 13px;
}
#productinformation li h3 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
#productinformation li h3 a {
  font-weight: normal;
  color: #fd8204;
}

.lightbox .cancel {
  right: 10px;
}
.lightbox .lightbox-content > h2 {
  margin: 0px;
}

@media (max-width: 1280px) {
  #sizes-type {
    width: 75px;
    font-size: 0.9em;
  }
}
@media (max-width: 1023px) {
  #dimensions {
    padding: 5px;
  }
}
@media (max-width: 999px) {
  #pg-product > product > boxes > box:first-child {
    width: 49.8998%;
    float: left;
    margin-right: 0.2004%;
  }
  #pg-product > product > boxes > box:nth-child(2) {
    width: 49.8998%;
    float: right;
    margin-right: 0;
  }
  {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  > div > boxright {
    display: block;
    padding: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  > div > boxright:after {
    content: " ";
    display: block;
    clear: both;
  }
  > div > boxright > div {
    width: 32.88591%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  #pg-product > product > boxes > box:first-child {
    width: 272px;
    margin: 0;
  }
  #pg-product > product > boxes > box:nth-child(2) {
    width: calc(100% - 272px);
    margin: 0;
  }
  {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  .dh-box .left, .dh-box .right {
    display: none;
  }

  #pg-product > product > boxes box {
    overflow: visible;
    height: auto;
  }

  .dh-box > box > .dh-box2 {
    white-space: normal;
    overflow-y: visible;
    overflow-x: visible;
  }

  #pg-product > product > boxes > div #si-content {
    height: auto;
  }
}
@media (max-width: 702px) {
  #pg-product > product > boxes > box:first-child {
    width: 100%;
    margin: 0;
  }
  #pg-product > product > boxes > box:first-child > div #selectmaterial > sel > div {
    width: 500px;
    left: calc(50% - 250px);
  }
  #pg-product > product > boxes > box:nth-child(2) {
    width: 100%;
    margin: 0;
  }
  {
    width: 100%;
  }
}
@media (max-width: 574px) {
  #pg-product > product > boxes > box:first-child {
    width: 100%;
    margin: 0;
  }
  #pg-product > product > boxes > box:first-child > div #selectmaterial > sel > div {
    width: 400px;
    left: calc(50% - 200px);
  }
}
@media (max-width: 470px) {
  #frame.active {
    border: 0px !important;
  }

  #frame {
    border: 0px;
  }

  #pg-product > product > boxes > box:first-child {
    width: 100%;
    margin: 0;
  }
  #pg-product > product > boxes > box:first-child > div #selectmaterial > sel > div {
    width: 300px;
    left: calc(50% - 150px);
  }
  #pg-product > product > boxes > box:nth-child(2) {
    min-width: 100%;
  }
}
@media (max-width: 440px) {
  #added #added-button > section > a {
    display: block;
    font-size: 13px;
    padding: 7px 0%;
    text-align: center;
  }
  #added #added-button > section > span {
    display: block;
    font-size: 13px;
    padding: 7px 0%;
    text-align: center;
  }
}
@media (max-width: 370px) {
  #pg-product > product > boxes > box:first-child {
    width: 100%;
    margin: 0;
  }
  #pg-product > product > boxes > box:first-child > div #selectmaterial > sel > div {
    left: calc(50% - 170px);
  }

  #addedpresrc {
    width: 100px;
  }
}
@media (max-width: 690px) {
  #selectmaterial > sel.onmouse > div {
    left: 0 !important;
    top: 0 !important;
    width: calc(100% - 30px) !important;
  }
}


#bread {
		  margin-bottom: 13px !important;
				margin-top: 0px;
	}
	#h10pro {
		font-size: 12px!important;
	    padding: 5px!important;
	    background-color: rgb(241, 241, 241)!important;
	    margin-top: 0px!important;
	    
	    margin: 0px!important;
	}
	#viznew {
		min-height:200px!important;border-bottom: 2px solid #fd8204!important;
		margin-bottom: 5px!important;
	}
	#insidephotos {
		background-color: #f1f1f1!important;
		padding: 5px 0px!important;
		border: 0px!important;
	}
	#croppedbox .crop-line-resize {
				display:none;																    
			    z-index: 4007;
			    position: absolute; 
			    text-align:center;
		}
		#croppedbox .crop-resize-bottom, #croppedbox .crop-resize-top {
			width: 100%;
			height:15px;																																
			cursor:row-resize;
			top:-7px;
		}
		
		#croppedbox .crop-resize-left, #croppedbox .crop-resize-right {
			height:100%;
			width:15px;																	
			cursor: col-resize;
			left: -13px;
			position: absolute;
			
		}
		#croppedbox .crop-resize-icon {
			display:inline-block;
			width: 9px;
			border: 1px solid #333;
			box-shadow: 0px 0px 0px 1px #fff;
			height: 9px;
		}
		#croppedbox .crop-resize-left .crop-resize-icon, #croppedbox .crop-resize-right .crop-resize-icon {
			position:absolute;
			top: calc(50% - 5px);
		}
		#photo3box {
			position: relative;width:100%; max-width:400px; height:100%; margin: 0 auto;
		}
		#productinformation {
				margin-top:10px!important;
		}
		#ulproinf {
				list-style:disc; padding-left:30px;
		}

		#ulproinf > li:first-child {
			padding-bottom:5px;
		}

.dh-box > box > .dh-box2 > a {
	padding-right: 3px;
}